<html>
<head>
  <title>Welcome to the Bank Queue System</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    h1 {
  font-size: 36px;
  color: #009933;
  margin-top: 50px;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 30px;
}
</style>
</head>
<body>
  <h1>Welcome to Use Bank Queue System</h1>
  <div class="container">
    <p>For clients, walk-in and mobile are designed to take the number in the specific branch.    
    <p>For each counter in the specific branch, the three functions are provided. They are "calling the next client","change the status of current client to missed", "help reschedule the missed client in this branch". </p>
    <p>For CRO, the current situation of each queue for different types of clients can be shown. CRO has the authority to terminate and restart the number taking for clients.</p>
  </div>
</body>
</html>